body,html{
    height:100%;
    margin:0;
    padding:0;
font-family: "lato", sans-serif;
background: #f2f2f2;
height: 1000px;
}
.navbar{
    background:$main-color;
    margin-bottom:0;
    #jd_logo{
        height: 2.8rem;
        width:2.8rem;
     margin:auto;
        margin-right:15px ;
    }
    //color:set-text-color($main-color) !important;
    a{
      //color:$light-color;
      color:set-text-color($main-color) !important;
    }
    .fa{
        font-size: 18px;
    }

    .navbar-toggler-icon {
 color:set-text-color($main-color) !important;
 
    }
}

.showcase, .parallax_1, .parallax_2, .footer_showcase{
position: relative;
opacity:0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color:white;
/*
Fixed uba ushatse Parallax
scroll uba ushatse iyiri normal
*/
background-attachment: fixed;
}
.showcase{
  width:100%;
  height:100vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;

  video{
    position: absolute;
    top:0;
    left:0;
    object-fit:cover;
    width:100%;
    height:100%;
    pointer-events: none;

}
.content{
    position: relative;
    z-index: 1;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    background: $gray-800;
    opacity: 0.5;
    padding:20px;
    border-radius: 8px 8px 8px 8px;
    h1{
        margin:0;
        padding:0;
        font-size:4.5em;
        text-transform:uppercase;
        color: white;
    }
    p{
        
        font-size:1.5em;
        color:white;
    }
}

}
//  .showcase{
// background-image:url('../images/products/bg.jpg');
//  min-height: 700px;

    
//     .container{
       
//         margin: auto;
//         text-align:center;
//         color:$gray-900;
//         font-size:24px;
//         letter-spacing: 8px;
//         text-transform:uppercase;
//     }   
   


//     .ptext{
//          position:absolute;
//         top:50%;
//         margin: auto;
//         background-color:transparent;
//         border: 1px solid set-text-color($main-color);
//         color:$gray-100;
//         padding:12px;
//         small{
//              text-transform:lowercase;
//              font-size:18px;
           
//               letter-spacing:none;
//         }

//    } 

//  }

.parallax_1{
    background-image:url('../images/products/parallax1.png');
    min-height: 400px;

    .container{
        position:absolute;
        top:50%;
        left:6.4rem;
        margin: auto;
        width:100%;
        text-align:center;
        font-size:24px;
        text-transform:uppercase;
        background-color: $gray-600;
        opacity: 0.5;
    }
    .ptext{
         color:white;
         padding:4px;
         text-align: center;
         float: center;

    } 



    .trans{
        background-color: transparent;
    }

}
.parallax_2{
    background-image:url('../images/products/parallax2.png');
    min-height: 400px;


    .container{
        position:absolute;
        top:50%;
        left:6.4rem;
        width:100%;
        text-align:center;
      
        font-size:24px;
        background-color: $gray-700;
        opacity: 0.5;
        text-transform:uppercase;
    }
    .ptext{
       margin: auto;
         color:white;
         padding:4px;
         


    } 

    .trans{
        background-color: transparent;
    }
}
.footer_showcase{
    background-image:url('../images/products/sagamba zoomed.jpg');
    min-height: 500px;
    
    .container{
        position:absolute;
        top:50%;
        left: 6.4rem;
        margin: auto;
        text-align:center;
        width: 100%;
        opacity:0.5;
        font-size:24px;
        background-color: $gray-700;
        text-transform:uppercase;
    }
    .ptext{
        
         color:white;
         padding:4px;

    } 
}


.section{
    text-align:center;
    padding:50px 80px;
    opacity:0.70;
    img{
        width: 100%;
        min-height:auto;
     box-shadow: 0 4px 4px 0 rgba(0,0,0,.4 );
     }
}
.section-light{
    background-color: $gray-200;
     color:$gray-900; 
}
.section-dark{
    background-color: #282e34;
    color:#ddd;
}

.sub_pages{
        .card{
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0,0,0,.2 );
    }


   img{
        width: 100%;
        min-height:auto;
     box-shadow: 0 4px 4px 0 rgba(0,0,0,.4 );
     margin: 1rem;
     }
}


.section-3{
   
    box-shadow: 0 4px 4px rgba(0,0,0,.4 );
     border-radius: 4px;
     margin-bottom:20px;
   img{
    width: 100%;
    min-height:auto;
 box-shadow: 0 4px 4px 0 rgba(0,0,0,.4 );
 }
 
}


.title-bar{
    background: url(../images/products/gicaniro.jpg) no-repeat center center;
    //  background-attachment: fixed;
    padding-bottom:32px;
    //border-bottom: 4px solid $main-color;
    box-shadow: 0 4px 4px rgba(0,0,0,.8 );
    width:100%;
    color:$gray-100;
}

footer{
  
        max-height: 40px;
   
}
// MOBILE VERSION
@media screen and (max-width:800px){
   body, html{
     margin: 0;
     padding: 0;
    }
.section{
    width:100%;
    margin: auto;
    float:none;
}
    .showcase, .parallax_1, .parallax_2, .footer_showcase{
        background-attachment: scroll;
        float:none;
        min-height: 50vh;
     .ptext{
         display: none;
     }


    }
    
.section{
padding: 0;
margin: 0;
width:100%;
    img{
        float: none;
        width: 100%;
        margin: 0;
        min-height:auto;
     box-shadow: 0 4px 4px 0 rgba(0,0,0,.4 );
     }
     h1{
         margin: 10px;
         font-size:20px;
     }
     h3{
         font-size:18px;
         font-style: italic;
     }
}

}

// MEDIA QUERIES
 @media screen and (max-width:800px){
  body, html{
      float:none;

      margin:0;
      padding:0;

      .container{
          margin: auto;
          padding: 0;
      }
  }


 .showcase{
    width:100%;
    height:50vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
  
    video{
      position: absolute;
      top:0;
      left:0;
      object-fit:cover;
      width:100%;
      height:50vh;
      pointer-events: none;
  
  }
  .content{
      position: relative;
      z-index: 1;
      max-width:320px;
      max-height: 140px;
      margin:0 auto;
      text-align:center;
      background: $gray-800;
      opacity: 0.5;
      padding:10px;
      border-radius: 4px 4px 4px 4px;
      h1{
          margin:0;
          padding:0;
          font-size:35px;
          text-transform:uppercase;
          color: white;
      }
      p{
          
          font-size:1.2rem;
          color:white;
      }
  }
}


 
.sub_pages{
    float: none;
.container .section-3{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
}
    .card{
    border-radius: 4px;
 margin-bottom: 10px;

 .card-body{
    p{
        font-size: 12px;
    }
    .not_on_mobile{
        display: none;
    }
    h4{
      
        font-size: 8px;
    }
 }

}

.col{
    margin: 20px;
}

img{
 float: none;
 width: 100%;
 margin: 0;
height:240px;
box-shadow: 0 4px 4px 0 rgba(0,0,0,.2 );
 }


}
.section-3{
    margin: auto;
    padding: 20px;

    .container{
        padding:none;
    h2 h4 p {
    text-align: center;

    }
    }
}

footer{
   
        p{
     font-size:12px;
        }
    
}
 }


 @media screen and (max-height:580px){

.showcase{
    .content{
        max-width:360px;
        border-radius: 6px 6px 6px 6px;
        h1{
            font-size: 24px;
        }
        p{
            font-size: 1.5rem;
        }
    }
}

footer{
    
        p{
     font-size:12px;
    }

}
 }

 @media (max-width: 768px){
     
    .showcase{
    width:100%;
    height:50vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
  
    video{
      position: absolute;
      top:0;
      left:0;
      object-fit:cover;
      width:100%;
      height:100%;
      pointer-events: none;
  
  }

 }
}